
:host ::ng-deep {
    canvasjs-chart div {
        position: relative;
        padding: {
            left: 1vw;
            right: 2vw;
            bottom: 3vw;

        }
        height: 400px;
    };

}
  
    

